<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Book App</title>
        <link rel="stylesheet" type="text/css" href="./styles/base.css"/>
    </head>
    <body>
        <main>
            <div class="main-container">
                <h1>Books from search</h1>
                <div class="book-list">
                <%  searchResults.forEach((book, index) => { %>
                    <div class="search-result">
                        <h2><%= book.title %></h2>
                        <h2><%= book.author %></h2>
                        <img src=<%= book.image_url%>></img>
                        <p><%= book.description %></p>
                                    
                        <form action="/books" method="post" id="<%= index %>" class="book-details-form">
                            <div class="form-items">
                                <input name="title" value="<%=book.title%>"  placeholder="<%=book.title%>"></input>
                                <input name="author" value="<%=book.author%>" placeholder="Author: <%=book.author%>"></input>
                                <input name="ISBN" value="<%=book.ISBN%>" placeholder="ISBN: <%=book.ISBN%>" ></input>
                                <input name="image_url" value="<%=book.image_url%>" placeholder="Image URL: <%=book.image_url%>" ></input>
                                <input name="description" value="<%=book.description%>" placeholder="Description: <%=book.description%>" ></input>
                                <input name="bookshelf" value="<%=book.bookshelf%>" placeholder="<%=book.bookshelf%>" ></input>
                                <button type="submit">Add to Database</button>
                            </div>
                        </form>
                    </div>
                <% }) %>
                </div>
            </div>
        </main>
    </body>
</html>