<div class="search-result">
    <h2><%= book.title %></h2>
    <h2><%= book.author %></h2>
    <img src=<%= book.image_url%>></img>
    <p><%= book.description %></p>
    <button><a href="/books/<%=book.id%>">View Detail</a></button>
</div>
